{% extends 'books/base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
<h1 class="text-center">Bienvenido a la Biblioteca</h1>
<p class="text-muted text-center">Explora las categorías y libros disponibles.</p>

<div class="row mt-4">
    {% for book in books %}
    <div class="col-md-4">
        <div class="card mb-3">
            {% if book.image %}
            <img src="{{ book.image.url }}" class="card-img-top" alt="{{ book.title }}">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ book.title }}</h5>
                <p class="card-text">Autor: {{ book.author }}</p>
                <a href="{% url 'detail_book' book.id %}" class="btn btn-primary">Ver detalle</a>
            </div>
        </div>
    </div>
    {% empty %}
    <p class="text-center">No hay libros disponibles.</p>
    {% endfor %}
</div>
{% endblock %}
